//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

$redstone-red: #5982F1;
// $redstone-blue: #564DDC;
$redstone-blue: #2D1E2F;

$red-100: #FF788A;
$red-200: #E9586F;
$red-error: #c81742;

$headings-color: $redstone-blue !default;
$danger: $redstone-red;
$blue: $redstone-blue;
$link-color: $redstone-red;
