//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

$redstone-light-blue: #5982F1;
$redstone-blue: #24355B;

$red-100: #FF788A;
$red-200: #E9586F;
$red-error: #c81742;

$headings-color: $redstone-blue !default;
$danger: $redstone-light-blue;
$blue: $redstone-blue;
$link-color: $redstone-light-blue;
